{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>NailShop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Source+Sans+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
    </head>
<header>
<style>body {
    height: 100%px;; /* Высота страницы */
 }
  </style>
</header>
{% block page %}
  {% endblock %}
</html>
