{% extends "paints/base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'paints/css/main_menu.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page %}
  <body>
  {% for paint in paints %}
    <div class="image_for_paint" style="float:left">
    <a href="{% url 'paint_page' paint.pk  %}">
            <img src="{{ paint.img_path.url }}"width="700" height="700">
          </a>
    </div>
  {% endfor %}

    <script src="script.js"></script>
  </body>

{% endblock %}