{% extends "paints/base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'paints/css/collection.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page %}
  <body>

  <style>
    background: url({% static "paints/img/fon.jpg"%})
  </style>

  {% for paint in paints %}
    <div class="image_for_paint" style="float:left">
    <a href="{% url 'paint_page' paint.pk  %}">
            <img src="{% get_static_prefix %}img/{{ paint.img_path }}">
          </a>
    </div>
  {% endfor %}

    <script src="script.js"></script>
  </body>

{% endblock %}