{% extends "paints/base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'paints/css/paint.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block page %}
<body>

    <div class = "header_block">
        <h1>NailShop</h1>
        <div class = "username"> {{user.username}}
            <a href="{% url 'logout' %}"> Logout </a>
        </div>
    </div>

    <script src="{% static 'paints/js/slide_script.js' %}"></script>
        <!-- Контейнер слайд-шоу -->
    <div class="slideshow-container">

      <!-- Полноразмерные изображения с числом и текстом подписи -->
      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
          <img  src="{% static 'paints/img/slide1.jpg' %}" style="width:100%">
          <div class="text">2+1 НА ГЕЛЬ-ЛАКИ ROXY</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img  src="{% static 'paints/img/slide2.jpg' %}" style="width:100%">
        <div class="text">1+1 НА СТРАЗЫ АМЕТРИН</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img  src="{% static 'paints/img/slide3.jpg' %}" style="width:100%">
        <div class="text">1+1: ВТОРОЙ АНТИСЕПТИК В ПОДAРОК </div>
      </div>

      <!-- Вперед и назад кнопки -->
      <a class="prev_slide" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next_slide" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>


    <div class="container">
        <div class="title_for_paint"> {{paint.name}}</div>
            <div class = "container_first">
                <div class="description_text"> {{ paint.description }}</div>
                <img src="{{ paint.img_path.url }}" width="600" height="600">
            </div>
        <div class = "video_youtube">
        <iframe width="560" height="315" src="{{ paint.video }}"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
    </div>

   <div class = "outro_container">

    <div class="likes">

            {% if like_flag %}
        <label class="icons"><input type="checkbox" checked id="myCheckBox">
                <a id="like_back" class="like_active" name="{{ post.id }}">
                    <span>
                            <img id="like_icon" src={% static "paints/img/liked.png" %} alt="Иконка">
                    </span>
                </a>
            </label>
            {% else %}
            <label class="icons"><input type="checkbox" checked id="myCheckBox">
                <a id="like_back" class="like_unactive" name="{{ post.id }}">
                    <span>
                        <img id="like_icon" src={% static "paints/img/unliked.png" %} alt="Иконка">
                    </span>
                </a>
                </label>

            {% endif %}
        <span id="likes_count" class="likes_num">{{ paint.total_likes }}</span>
    </div>

    <div class="button-nav">
        {% if previous is not None %}
        <button class="previous" onclick="document.location='{% url 'paint_page' previous.pk %}'">Previous</button>
        {% endif %}
        {% if next is not None %}
        <button class="next" onclick="document.location='{% url 'paint_page' next.pk %}'">Next</button>
        {% endif %}
    </div>

    <div>
        <button class="home" onclick="document.location='{% url 'main_menu'%}'">Home</button>
    </div>
   </div>
</body>
<script src="{% static 'paints/js/like_script.js' %}"></script>
{% endblock %}

<!--    <div>-->
<!--       <p>Граттол - это молодая динамично развивающаяся компания, ставящая своей целью создать идеальный-->
<!--           гель-лак, вызывающий восторг, и в то же время, доступный по цене.</p>-->
<!--<p>В производстве нашей продукции используется только самые современное, самое очищенное европейское сырье,-->
<!--    проходящее тщательный отбор и тестирование ведущими мировыми специалистами и профессионалами. Цветовая палитра - -->
<!--    это глубокий анализ мировых трендов.</p>-->
<!--<p>Насыщенные цвета укладываются в один слой, что не только экономит время мастера, но и делает маникюр легким,-->
<!--    естественным и аккуратным, обеспечивая длительную носкость покрытия.-->
<!--    Мнгновенное выравнивание поверхности восхищает.</p>-->
<!--<p>Медовое качество – так среди мастеров отзываются о текстуре гель-лаков Граттол. Гель-лаки Граттол влюбляют в-->
<!--    себя с первого ноготка!</p>-->
<!--Мы действительно гордимся нашей продукцией!-->
<!--        <center>-->
<!--            <p>-->
<!--                <iframe width="560" height="315" src="https://www.youtube.com/embed/ig4sLCt5RkM"-->
<!--                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;-->
<!--                        encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--            </p>-->
<!--        </center>-->
<!--         <div>-->
<!--           Ознакомьтесь с маркой, чтобы по-настоящему влюбиться и работать на качественных материалах!-->
<!--            -->
<!--    </div>-->
<!--            -->
<!--    </div>-->


